@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

html{
    
}

.body {
    font-family: 'Montserrat'
}

.header {
  display: flex; 
  background-color: white;
  width: 64px;
}

.logo {
    display: flex;
    padding-left: 24px;
    height: 32px;
    font-weight: bold;
    justify-content: left;
    color: rgba(31, 31, 31, 1);
    font-size: 20px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    flex-direction: row;
    
    
}

.logo-image {
 
}


.academy {
 font-weight: normal;
 justify-content: left;
 color: grey;
}

.right-text {
    display: flex;
    text-align: right;
    justify-content: right;
    gap: 16px;
    padding-right: 24px;
    margin-left: auto;
    font-size: 18px;
    font-weight: lighter;
    
}

.learn {
    display: flex;
    background-color: grey;
    flex-direction: row;
    height: auto;
    min-height: 200px;
    margin-top: 20px;
    width: 100%;
}

.banner-img {
    display: flex;
    justify-content: left;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 24px;
    width: 100%;
    
}
.learn-something {
    display: flex;
    color: black;
    font-family: 'Montserrat';
    flex-direction: column;
    margin-left: 24px;
    font-size: 50px;
    width: 100%;
}
.lorem {
    font-size: 25px;
    font-weight: bolder;
    color: black;
    font-family: inherit;
    
    
}
.start-button {
    font-family: 'Montserrat';
    background-color: black;
    color:white;
}