@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

html{
    
}

.body {
    font-family: 'Montserrat'
}

.header {
  display: flex; 
  background-color: white;
  width: 64px;
  justify-content: center;
 
}

.logo {
    display: flex;
    padding-left: 24px;
    /*height: 32px;*/
    font-weight: bold;
    justify-content: left;
    color: rgba(31, 31, 31, 1);
    font-size: 20px;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    flex-direction: row;
    
    
     
}

.logo-image {
 display: flex;
 justify-content: left;
 
 
}


.academy {
 font-weight: normal;
 justify-content: left;
 color: grey;
}

.right-text {
    display: flex;
    text-align: right;
    justify-content: right;
    gap: 16px;
    padding-right: 24px;
    margin-left: auto;
    font-size: 18px;
    font-weight: lighter;
    
}

.learn {
    display: flex;
    background-color:rgba(54, 54, 54, 0.32);
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
    min-width: 0;
    min-height: 0;
    overflow: hidden;
}



.banner-img {
    display: flex;
    min-width: 0;
    justify-content: left;
    padding-right: 0px;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 24px;
    height: 100%;
    max-width: 100%;
    
    /*img not reactive*/  
 }

.learn-something {
    display: flex;
    color: rgba(54, 54, 54, 0.92);
    font-family: 'Montserrat';
    flex-direction: column;
    margin-left: 24px;
    font-size: 50px;
    width: 100%;
    padding-top: 110px;
    padding-left: 24px;
    height: 100%;
    
}
.lorem {
    font-size: 35px;
    font-weight: bolder;
    color: rgba(54, 54, 54, 0.92);
    font-family: inherit;
    margin-bottom: 20px;
    height: 100%;   
}
.start-button {
    display: inline-block;
    font-family: 'Montserrat';
    background-color: rgba(54, 54, 54, 0.92);
    color:white;
    text-align: center;
    font-weight: lighter;
    font-size: 25px; 
    width: 80%;
    height: 100%;
}

.doesnt-hurt {
  position: relative;
}

.information-main {
    
}

.info-img {
   display: flex;
   width: 60%;
   padding-top: 32px;
   padding-right: 24px;
   padding-left: 24px;
  
}

.practicing {
 font-family: 'Montserrat';
 color: rgb(52, 56, 49);
 font-size: 45px;
 font-weight: bold;
 padding-left: 24px;
 float: left;
 width: 60%;
}

.curabitur {
  font-size: 23px;
  word-break: keep-all;
  width: 68%; 
  font-weight: 300; 
  margin-right: 50px;
  width: 100%;
}

.strat {
  color: black;
  font-size: 20px;
  font-weight: normal;
}

.one-image{
    display: flex;
    float: left;
    width: 35%;
    height: auto;
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
   
}

.first-text {
  float: right;
  font-family: 'Montserrat';
  padding-top: 8%;
  padding-right: 12%;
}

.two-image {
  display: flex;
  float: left;
  width: 35%;
  height: auto;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.second-text {
  float: right;
  font-family: 'Montserrat';
  padding-top: 8%;
  padding-right: 8%;
}

.guest-image{
 display: flex;
 width: 35%;
 height: auto; 
 float: left;
 padding-left: 16px;
 padding-top: 16px;
 padding-bottom: 16px;
}

.guest-text{
   float: right;
   font-family: 'Montserrat';
   padding-top: 8%;
   padding-right: 8%;
}
.panel-header {
 font-weight: 600; 
 font-size: 25px;
 line-height: 8px;
 color: rgba(54, 54, 54, 0.92);
}
.keynote {
  line-height: 1.8;
  font-size: 16px;
  color: rgba(54, 54, 54, 0.92);
}
.read-more {
  font-size: 18px;
  line-height: 8px;
}

.image-panel {
 display: flex;
 height: auto;
 flex-direction: column;
 width: 35%;
 gap: 16px;
 position: absolute;
 top: 32px;
 right: 20px;
 border-left: solid;
 border-left-color: rgba(54, 54, 54, 0.32);
 border-left-width: thin;
 padding-bottom: 10%; /*this line controls the border for this panel. It gives more padding to the panel, making the line longer or shorter.*/
 overflow: hidden;
}


.guest {
 background-color:rgba(54, 54, 54, 0.32); 
    
}
.first-img {
    border-bottom: solid;
    border-bottom-color:rgba(54, 54, 54, 0.32);
    border-bottom-width: thin;
}






